.container {
  width: 100%;
  position: relative;
}

.container span {
  position: unset !important;
}

.autoImage {
  object-fit: contain !important;
  position: relative !important;
  height: auto !important;
}
