// window size
$mb-xs: 300px;
$mb-s: 375px;
$mb-m: 500px;
$mb-l: 768px;
$lt-s: 1024px;
$lt-m: 1200px;
$lt-l: 1440px;

// font size
$f-body-xs: 1.2rem;
$f-body-sm: 1.4rem;
$f-body-rg: 1.6rem;
$f-body-md: 1.8rem;
$f-body-lg: 2rem;

// head font size
$f-head-xs: 2.4rem;
$f-head-sm: 2.8rem;
$f-head-rg: 3.2rem;
$f-head-md: 3.6rem;
$f-head-lg: 4.2rem;
$f-head-xl: 4.8rem;
$f-head-ul: 5.6rem;

// docs size
$max-width: 1200px;
$padding: 3.2rem;

// color
$header: rgba(0, 0, 0, 0.24);
$main: #222;
$secondBg: #1d1d1d;
$point: #0acdce;
$point80: #0acdce80;
$point40: #0acdce40;
$text_head: #fff;
$text: #fffffff0;
$text_2: #ffffffca;
$text_3: #ddd;
$text_4: #ccc;
$text_5: #888;
$text_6: #666;
